@font-face {
        font-family: 'NeueMachina Light';
        src: url(./NeueMachina-Light.woff);
}
@font-face {
        font-family: 'NeueMachina';
        src: url(./NeueMachina-Regular.woff);
}
@font-face {
        font-family: 'NeueMachina Ultrabold';
        src: url(./NeueMachina-Ultrabold.woff);
}