%heading {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.25rem;
    width: 100%;
    line-height: 2;
}

h1 {
    @extend %heading;

    font: {
        family: 'Header';
        size: $h1-font-size;
    }

    color: $color_title;
}

h2 {
    @extend %heading;

    font: {
        family: 'title';
        size: $h2-font-size;
    }

    color: $color_white;
}

h3 {
    @extend %heading;

    font: {
        family: 'title-700';
        size: $h3-font-size;
    }

    letter-spacing: 1px;
    color: $third;
}

h4 {
    @extend %heading;

    font: {
        family: 'title-400';
        size: $h4-font-size;
    }

    color: $color_title;
}

h5 {
    @extend %heading;

    font: {
        family: $font_title;
        size: $h5-font-size;
    }
}

h6 {
    @extend %heading;

    font: {
        family: 'text-SemiBold';
        size: $h6-font-size;
    }

    letter-spacing: 1.25px;
    color: $primary;
}

p {
    font: {
        family: $font_text;
        size: $font_size-base;
        weight: 400;
    }

    ;
    color: $color_text;
}

small {
    font: {
        family: $font_text;
        size: $small-font-size;
        weight: 400;
    }

    ;
    color: $color_text;
}

.title {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 1rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 0.5rem;
    color: $primary;

    &::before {
        content: "";
        display: inline-flex;
        width: $h1-font-size;
        height: 2px;
        background: transparent linear-gradient(90deg, transparent 0%, $primary 100%);
        margin: 0 1.5rem;
        border-radius: 50px;

        // animation: top-n-down 1s infinite;
    }

    &::after {
        content: "";
        display: inline-flex;
        width: $h1-font-size;
        height: 2px;
        background: transparent linear-gradient(-90deg, transparent 0%, $primary 100%);
        margin: 0 1.5rem;
        border-radius: 50px;

        // animation: top-n-down 1s infinite;
    }

    &-2 {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 1rem 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0 1rem;

        font: {
            family: $font_text;
        }

        ;
    }
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
    align-items: center;
    color: $color_skylight;

    font: {
        family: $font_title;
        weight: 700;
    }

    ;
    text-transform: uppercase;
}

.text {
    &-start {
        justify-content: start;
    }

    &-end {
        justify-content: end;
    }
}