@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #FFFFFF;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}

h2 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1.17;
  color: #E7E7E7;
  margin: 0 0 59px;
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  h2 {
    margin: 0 0 25px;
  }
}
@media only screen and (max-width: 599.99px) {
  h2 {
    font-size: 50px;
    margin: 0 0 20px;
  }
}

h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 2;
  color: #C2C2C2;
  letter-spacing: 1.5px;
  margin: 0;
}
@media only screen and (max-width: 599.99px) {
  h3 {
    font-size: 28px;
  }
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  margin: 0 0 16px;
}
@media only screen and (max-width: 599.99px) {
  p {
    font-size: 15px;
  }
}

img {
  display: none;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1024.99px) {
  img.show-md {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 599.99px) {
  img.show-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  img.show-md {
    display: none !important;
  }
}
@media only screen and (max-width: 1024.99px) {
  img.show-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 599.99px) {
  img.show-sm {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 1025px) {
  img.show-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 1024.99px) {
  img.show-lg {
    display: none !important;
  }
}
@media only screen and (max-width: 599.99px) {
  img.show-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  img.show-lg {
    display: inline-block !important;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul > li {
  display: block;
  width: 100%;
  height: auto;
  padding: 53px 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  ul > li {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 599.99px) {
  ul > li {
    padding: 35px 16px 40px;
  }
}
ul > li h3 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}
ul > li h3 span {
  display: inline-flex;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-right: 10px;
}
ul > li h3 span::after {
  content: " ";
  display: inline-flex;
  width: 19px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #5E3DB3;
}
ul > li::before {
  content: "";
  display: block;
  min-width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: -150%;
  right: -150%;
  z-index: -1;
}
ul > li:last-child p {
  color: #FFFFFF;
}
ul > li:last-child h3 span::after {
  background-color: #FFFFFF;
}
ul > li:last-child::before {
  background-color: #5E3DB3;
}
ul > li:nth-last-child(2)::before {
  background-color: #F5F4F9;
}
@media only screen and (max-width: 599.99px) {
  ul > li p {
    color: #000000 !important;
  }
  ul > li h3 span::after {
    background-color: #5E3DB3 !important;
  }
  ul > li::before {
    background-color: #F5F4F9 !important;
  }
}

section {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  section {
    min-width: 100%;
    max-width: 100%;
  }
}
section .figure {
  padding: 35px 0 0;
  z-index: 2;
  margin-bottom: -25px;
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  section .figure {
    padding: 45px 0 0;
    position: absolute;
    left: 0%;
    max-width: 45%;
    margin: 0;
  }
}
@media only screen and (max-width: 599.99px) {
  section .figure {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
    margin-bottom: -79px;
  }
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  section .figcaption {
    flex: 0 0 100%;
    width: 100%;
    padding-left: 40%;
    padding-right: 16px;
  }
}
@media only screen and (max-width: 599.99px) {
  section .figcaption {
    padding-left: 0;
    padding-right: 0;
  }
  section .figcaption ulli {
    padding-top: 79px;
  }
}
section .flex-md-row-reverse .figure {
  padding: 35px 0 0;
  margin: 35px 0 0;
}
section .flex-md-row-reverse .figure img {
  transform: scale(1.25);
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  section .flex-md-row-reverse .figure {
    left: unset;
    right: 0;
    margin: 25px 0 0;
  }
}
@media only screen and (max-width: 599.99px) {
  section .flex-md-row-reverse .figure {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
    margin-bottom: -79px;
  }
  section .flex-md-row-reverse .figure img {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1024.99px) and (min-width: 600px) {
  section .flex-md-row-reverse .figcaption {
    padding-left: 16px;
    padding-right: 30%;
  }
}
@media only screen and (max-width: 599.99px) {
  section .flex-md-row-reverse .figcaption {
    padding-left: 0;
    padding-right: 0;
  }
}
section .flex-md-row-reverse ul > li:last-child::before {
  background-color: #090C35;
}
section .flex-md-row-reverse ul > li:last-child h3 span::after {
  color: #5E3DB3;
}

@media only screen and (max-width: 1024.99px) {
  .show-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 599.99px) {
  .show-sm {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 1025px) {
  .show-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 1024.99px) {
  .show-lg {
    display: none !important;
  }
}
@media only screen and (max-width: 599.99px) {
  .show-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .show-lg {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 1024.99px) {
  .show-md {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 599.99px) {
  .show-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .show-md {
    display: none !important;
  }
}

@media only screen and (max-width: 599.99px) {
  .carousel {
    padding: 0;
  }
  .carousel-item {
    padding-top: 79px;
    min-height: 284px;
  }
  .carousel-item h3 {
    margin-bottom: 20px;
  }
}
.carousel-indicators {
  display: block;
  width: 100%;
  margin: 12px auto 20px;
  text-align: center;
  background-color: #F5F4F9;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #d8d8d8;
  margin: 0 6px 0;
}
.carousel-indicators [data-bs-target].active {
  background-color: #5E3DB3;
}/*# sourceMappingURL=style.css.map */