.caption {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: baseline;
        gap: 8px 0;

        &--title {
                font: {
                        family: $font_title;
                        size: $h1-font-size;
                        weight: 900;
                }

                ;
                line-height: 1.1;
                letter-spacing: 1.5px;
                color: $color_title;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                backdrop-filter: drop-shadow(0px 0px 16px $color_black);
                text-shadow: 0px 0px 16px $color_black;

                margin: {
                        bottom: $font-size-base;
                }

                ;
        }

        &--subtitle {
                font: {
                        family: $font_title;
                        size: $font-size-base;
                        weight: 600;
                }

                ;
                line-height: 1.2;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: lighten($color: $color_caramel, $amount: 100%);
                width: 55%;
                display: flex;
                flex-wrap: wrap;
                padding: 4px 0 4px;
                backdrop-filter: drop-shadow(0px 0px 16px $color_black);
                text-shadow: 0px 0px 16px $color_black;
                // background-color: $color_caramel;

                &__introduct {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex: 1 1 100%;
                        flex-wrap: wrap;
                        width: 100%;
                        align-items: center;
                        align-content: center;
                        justify-content: flex-start;
                        backdrop-filter: drop-shadow(0px 0px 16px $color_black);
                        text-shadow: 0px 0px 16px $color_dark;

                        & > li {
                                @extend .caption--subtitle;
                                display: inline-flex;
                                font-size: 14px;
                                font-weight: 400;
                                width: auto;
                                margin: 0 0;
                                align-items: center;
                                justify-content: center;
                                align-content: center;

                                &:not(:first-child) {
                                        &::before {
                                                content: "";
                                                display: inline-flex;
                                                margin: 0 0.5rem;
                                                width: 1px;
                                                height: $font_size-base;
                                                background-color: $color_light;
                                                border-radius: 16px;
                                        }

                                }

                                .text-header {
                                        width: 50%;
                                        display: inline-flex;
                                        flex-direction: column;
                                        font-family: $font_title;
                                        font-size: 32px;
                                        font-weight: 700;
                                        color: $primary;
                                        margin: 0;

                                        small {
                                                font-size: 14px;
                                                font-weight: 400;
                                                color: transparentize($color: $color_white, $amount: 0.5);
                                                display: block;
                                                margin-top: -16px;
                                        }
                                }

                                span {
                                        font-size: 14px;
                                        font-weight: 400;
                                }
                        }
                }
        }

        &--detail {
                font: {
                        family: $font_text;
                        size: $font-size-base;
                        weight: 400;
                }

                ;
                line-height: 1.5;
                color: transparentize($color: $color_gray, $amount: 0);
                width: 80%;
                padding: 4px 0 2px;
                display: flex;
                flex-wrap: wrap;
        }

        &__social {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 2rem 0 0;

                &-list {
                        width: auto;
                        height: auto;
                        display: inline-flex;
                        flex-wrap: wrap;
                        margin: 0 0.25rem;

                        &__btn {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-content: center;
                                align-items: baseline;

                                min-width: 150px;
                                height: 52px;
                                border: 0 solid;
                                background: linear-gradient(0deg, $color_dark 0%, $color_black 100%);
                                border-color: $color_black;
                                border-radius: 50px;
                                padding: 0.925rem 1.5rem;
                                color: $color_white;
                                // transition: all 0.3s ease;

                                svg {
                                        $width: $font_text;

                                        width: $width;
                                        height: $width;
                                        margin-right: 0.5rem;
                                }

                                &--primary {
                                        $fouth: darken($primary, 20%);

                                        @extend .caption__social-list__btn;
                                        background: linear-gradient(0deg, $primary 0%, $fouth 100%);
                                        border-color: $color_red;

                                        &:hover,
                                        &:active,
                                        &:focus {
                                                background: $fouth !important;
                                                border-color: $fouth !important;
                                        }
                                }

                                &:hover,
                                &:active,
                                &:focus {
                                        $fouth: darken($primary, 20%);

                                        background: $fouth !important;
                                        border-color: $fouth !important;
                                }
                        }

                        &:first-child {
                                margin: {
                                        left: 0;
                                }

                                ;
                        }

                        &:last-child {
                                margin: {
                                        right: 0;
                                }

                                ;
                        }

                        &:hover {
                                $fouth: darken($primary, 20%);

                                .caption__social-list__btn {
                                        background-color: $fouth;
                                        border-color: $fouth;
                                        color: $color_white;
                                }
                        }
                }
        }
}