.timeline {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0.75rem;

        & > li {
                display: flex;
                width: 100%;
                margin: 0;

                padding: 0 {
                        left: 1rem;
                }

                ;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: start;

                @include header() {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        color: $color_skylight;
                        font-size: 18px;
                        line-height: 1.7;

                        &::before {
                                $width: 6px;
                                content: "";
                                display: none;
                                width: $width;
                                height: $width;
                                background-color: $primary;
                                border-radius: 25px;
                        }
                }

                p {
                        color: $primary;
                        margin: 0;
                        font-weight: 600;
                }

                strong {
                        color: $color_text;
                }

                .badge-primary {
                        display: inline-flex;
                        flex-wrap: wrap;
                        padding: 0.5rem 0.75rem;
                        margin: 0 0.75rem 0 0;
                        width: auto;

                        border: 1px solid $color_skylight {
                                radius: 0.5rem;
                        }

                        ;
                        color: $color_skylight;
                        background-color: transparentize($color: $color_skylight, $amount: 0.85);
                }

                ul {
                        li {
                                a {
                                        font: {
                                                weight: 600;
                                        }

                                        ;

                                        text: {
                                                decoration: underline;
                                        }

                                        ;
                                        letter-spacing: 1px;
                                        color: $color_rose;
                                        margin: 0 0.5rem;

                                        &:hover,
                                        &:active,
                                        &:focus {
                                                color: $third;
                                        }
                                }
                        }
                }

                @include header() {
                        margin: {
                                top: 0.75rem;
                        }

                        ;
                }
        }
}