@import "../assets/font/font.css";

$bg_color: #010101;
$color_1: #7B5BE6;
$color_2: #F42728;
$transparent: rgba(0, 0, 0, 0);

$color_header: #E1E2E2;
$color_text: #70727B;
$color_label: #4E5057;

$border_color: #18181C;
$border_radius: 8px;
$gap: 12px;

$btn_color: #232329;
$btn_padding: 15px 25px 15px 25px;
$btn_radius: 20px;
$btn_border: 1px solid;
$btn_text_color: #E1E2E2;

$color_footer_text: #232329;
$font_regular: "NeueMachina";
$font_lght: "NeueMachina Light";
$font_bold: "NeueMachina Ultrabold";

* {
        color: $color_text;

        font: {
                family: $font_regular;
                size: 10px;
                weight: 700;
        }

        ;
        line-height: 0.965;
        letter-spacing: 1px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        background: $bg_color;
}

main {
        max-width: 1600px;
        min-height: 100vh;
        padding: 2rem;
        margin: 0 auto;

        @media only screen and (max-width: 991.99px) {
                padding: 0;
        }
}

.container-fluid {
        width: 100%;
        max-width: calc(100% - 0rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        border: $btn_border $border_color ;

        border: {
                radius: $border_radius;
        }

        ;
        padding: 1rem;
        overflow: hidden;
        gap: 1rem;

        @media only screen and (max-width: 991.99px) {
                padding: 0;
                position: relative;
                min-height: 100vh;
        }

        @media only screen and (max-width: 599.99px) {
                position: unset;
        }
}

.artwork {
        max-height: calc(100vh - 3rem);
        width: auto;


        @media only screen and (max-width: 991.99px) {
                &-wrapper {
                        width: 100%;
                }

                width: 100%;
                max-height: none;
        }
}

.form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
        padding: 0;

        form {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                gap: 3.2rem;
        }

        @media only screen and (max-width: 991.99px) {
                max-width: 480px;
                position: absolute;
                z-index: 1;
                background: $bg_color;
                left: 0;
                right: 0;
                bottom: 50%;
                padding: 2.5rem 2rem;
                gap: 1rem;
                margin: 1.5rem auto 0;
                transform: translateY(50%);
                border-radius: 25px;
                box-shadow: 0px 0px 10px 0px transparentize($color: $color_2, $amount: 0);
        }

        @media only screen and (max-width: 599.99px) {
                max-width: calc(100vw - 0px);
                position: absolute;
                z-index: 1;
                background: $bg_color;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 1.5rem 2rem;
                gap: 1rem;
                margin: 0 auto;
                transform: none;
                max-height: calc(100vh - 100px);
                overflow: auto;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

                border: {
                        bottom: {
                                left: {
                                        radius: 0;
                                }

                                ;

                                right: {
                                        radius: 0;
                                }

                                ;
                        }

                        ;
                }

                ;
                box-shadow: none;

                &::before {
                        $width: 90vw;
                        content: "";
                        display: none;
                        width: $width;
                        height: 1px;

                        //border: 1px solid #fff;
                        border: {
                                bottom: 25vw solid $bg_color;
                                left: calc($width/2) solid $transparent;
                                right: calc($width/2) solid $transparent;
                        }

                        ;
                        position: absolute;
                        top: -30%;
                        left: 50%;
                        right: 0;
                        //margin: 0 auto;
                        transform: translate(-50%, 50%);
                }

                form {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: center;
                        gap: 1rem;
                        align-items: flex-start;
                }


        }

        @media only screen and (min-width: 992px) {
                padding: 0;
                max-width: 333px;
                margin: auto;
                gap: 1.6rem;

                &-regis {
                        form {
                                gap: 1rem;
                        }

                }

                &-gamedev {
                        max-width: 423px;
                }
        }

        * {
                color: $color_text;
        }

        &-header {
                display: flex;
                //flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                padding-bottom: 9px;
                border-bottom: $btn_border $border_color;
                width: 100%;
                background-color: $bg_color;
                box-shadow: 0px 0px 5px 0px $btn_color;
                z-index: 10;

                @media only screen and (max-width: 599.99px) {
                        padding-top: 2rem;
                        position: sticky;
                        top: 0;
                }
        }

        label {
                font-size: 1rem;
                font-weight: 700;
                color: $color_label;
                text-align: left;
                display: flex;
                width: 100%;
        }

        textarea {
                font-size: 1.4rem;
                font-weight: 700;
                color: $color_text;
                line-height: 2.2;
                background-color: $transparent;
                border: none;

                border: {
                        radius: $border_radius;
                }

                ;

                padding: 9px 15px;

                &::placeholder {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: $color_label;
                }
        }

        input {
                font-size: 1.4rem;
                font-weight: 700;
                color: $color_text;
                line-height: 2.2;
                background-color: $transparent;
                border: none;

                border: {
                        radius: $border_radius;
                }

                ;

                padding: 9px 15px;

                &::placeholder {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: $color_label;
                }

                &[type="checkbox"] {
                        visibility: visible;
                        position: relative;
                        width: 1.5rem;
                        height: 1.5rem;
                        padding: 2px;
                        border: 0 solid #4E5057;
                        border-radius: 8px;
                        background-color: $btn_color;
                        overflow: hidden;

                        &::before {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 100%;
                                border: 2px solid #4E5057;
                                border-radius: 4px;
                                background-color: #4E5057;
                        }

                        &::after {
                                content: "";
                                display: block;
                                width: calc(100% - 4px);
                                height: calc(100% - 4px);
                                border: 1px solid $border_color;
                                border-radius: 4px;
                                background-color: $border_color;
                                position: absolute;
                                top: 2px;
                                left: 2px;
                                z-index: 1;
                        }

                        &:checked {
                                &::before {
                                        border-color: $color_2;

                                }

                                &::after {
                                        background-color: transparentize($color: $color_2, $amount: 0);
                                }
                        }
                }

                &:active,
                &:focus {
                        border: {
                                color: $color_1;
                        }

                        ;
                }

                &:focus-visible {
                        outline: none !important;
                }
        }


        .input-control {
                position: relative;
                width: 100%;

                background: {
                        color: $btn_color;
                        size: auto;
                        repeat: no-repeat;
                        position: 1rem 50%;
                }

                ;
                border: 0 solid $btn_color;

                border: {
                        radius: $border_radius;
                }

                ;
                z-index: 1;

                textarea {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: $color_text;
                        line-height: 2.2;
                        background-color: $transparent;
                        border: 1px solid $border_color;

                        border: {
                                radius: $border_radius;
                        }

                        ;

                        padding: 9px 15px;

                        &::placeholder {
                                font-size: 1.4rem;
                                font-weight: 700;
                                color: $color_label;
                        }

                        &:active,
                        &:focus {
                                border: {
                                        color: $color_1;
                                }

                                ;
                        }

                        &:focus-visible {
                                outline: none !important;
                        }
                }

                input {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: $color_text;
                        line-height: 2.2;
                        background-color: $transparent;
                        border: 1px solid $border_color;

                        border: {
                                radius: $border_radius;
                        }

                        ;

                        padding: 9px 15px;

                        padding: {
                                left: calc(4rem + 0px);
                        }

                        ;

                        &::placeholder {
                                font-size: 1.4rem;
                                font-weight: 700;
                                color: $color_label;
                        }

                        &:active,
                        &:focus {
                                border: {
                                        color: $color_1;
                                }

                                ;
                        }

                        &:focus-visible {
                                outline: none !important;
                        }
                }

                .button-fixed {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 0.5rem 0.75rem;
                        margin: 0;
                        background-color: $transparent;
                        border-radius: calc($border_radius - 2px);
                        width: 40px;
                        height: 40px;
                        z-index: 99;
                        cursor: pointer;

                        img {
                                display: block;
                                width: 100%;
                                height: 100%;
                        }
                }

        }

        .form-label {
                display: block;
                font-family: $font_bold;
                font-weight: 700;
                font-size: 1rem;
                color: $color_label;
                line-height: 0.965;

                margin: {
                        bottom: 1rem;
                }

                ;
        }

        .input-group {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 1rem;

                @media only screen and (max-width: 991.99px) {
                        max-width: calc(100% - 0px);
                }

                @media only screen and (max-width: 599.99px) {
                        max-width: calc(100% - 0px);
                }
        }
}

h1,
h2,
h3,
h4 {
        font-family: $font_bold;
        font-size: 18px;
        line-height: 2.8;
        color: $color_header;
        text-transform: uppercase;
}

.font-normal {
        font-family: $font_regular;
}

.font-bold {
        font-family: $font_bold;
}

.font-light {
        font-family: $font_lght;
}

.bi {
        display: block;
        font-size: 2rem;
        line-height: 1.75;
}

.title {
        color: $color_header;
}

.button {
        display: inline-flex;
        //width: auto;
        justify-content: center;
        padding: $btn_padding;
        border: $btn_border;
        color: $btn_text_color;

        font: {
                family: $font_bold;
                size: 12px;
                weight: 700;
        }

        ;
        line-height: 1.158;
        transition: background 0.3s ease-in-out;

        &-primary {
                background-color: $color_1;
                border-color: $color_1;
                //width: 60%;
                align-items: center;
                padding: 1rem 2.5rem;

                &.button-hover {
                        background: linear-gradient(155deg, rgba(244, 39, 40, 1) 0%, rgba(123, 91, 230, 1) 50%, rgba(0, 212, 255, 1) 100%);
                        flex-direction: row-reverse;

                        img {
                                margin-left: 1rem;
                                margin-right: 0;
                        }
                }
        }

        &-secondary {
                background-color: $color_2;
                border-color: $color_2;
                align-items: center;
                padding: 1rem 0.5rem;

                &.button-hover {
                        background: linear-gradient(155deg, rgba(244, 39, 40, 1) 0%, rgba(123, 91, 230, 1) 50%, rgba(0, 212, 255, 1) 100%);
                        flex-direction: row-reverse;

                        img {
                                margin-left: 1rem;
                                margin-right: 0;
                        }
                }
        }

        &-outline {
                &-light {
                        background-color: $transparent;
                        border-color: $btn_color;
                        width: calc(40% - 1rem);

                        &.button-hover {}
                }
        }

        &-section {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                margin-top: 0;
                width: 100%;

                @media only screen and (max-width: 991.99px) {
                        margin-top: 1rem;
                }
        }

        &-hamburger {
                display: inline-flex;
                flex-wrap: wrap;
                width: 40px;
                height: 40px;
                position: relative;
                z-index: 2;
                justify-content: center;
                align-items: center;

                &::after {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $color_2;
                        border-radius: 8px;
                        z-index: -1;
                        transform: rotate(45deg) scale(0.85);
                        transition: all 0.3s ease-in-out;
                }

                &:hover {
                        &::after {
                                transform: rotate(180deg) scale(0.95);
                        }
                }

                &:active,
                &:focus {
                        .bi {
                                &::before {
                                        content: "\F479";
                                }
                        }


                        &::after {
                                background-color: $color_1;
                                transform: rotate(180deg) scale(1);
                        }
                }
        }

}



/* HEADER */
.artwork-wrapper {
        position: relative;
}

.header {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        padding: 2rem;
        background-color: $transparent;
        border: none solid red;

        position: absolute;
        top: 0;
        left: 0;
        gap: 3rem;
        overflow: visible;

        @media only screen and (max-width: 991.99px) {
                padding: 2rem 0.5rem;
                justify-content: space-between;
                width: 100%;
        }

        &-main {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                background-color: $color_2;
                border-radius: 8px;
                color: $bg_color;
                gap: 1rem;
                padding: 2px 12px 2px 2px;

                font: {
                        family: $font_bold;
                        size: 1.4rem;
                        weight: 700;
                }

                ;
                line-height: 1.435;
                position: relative;

                &__brand {
                        width: 40px;
                        height: auto;
                        background-color: #010101;
                        padding: 0.95rem 1rem;
                        border-radius: $border_radius;
                }

                &::after {
                        content: "TM";
                        display: inline-block;
                        font-family: $font_bold;
                        font-size: 0.5rem;
                        color: $color_2;
                        position: absolute;
                        top: 0;
                        right: -12px;
                }
        }
}

.dropdown {
        display: none;

        &-button {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                color: $color_2;
                gap: 3px;
                padding: 2px 12px 2px 2px;

                font: {
                        family: $font_regular;
                        size: 1rem;
                        weight: 700;
                }

                ;
                line-height: 1.435;
                position: relative;
                margin-left: 0;

                &::after {
                        content: "";
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0;
                        border: 2px solid $color_2;

                        border: {
                                left: 0;
                                right: 0;
                        }

                        ;
                        background-color: $transparent;
                        width: 6px;
                        height: auto;
                        padding: 1px;

                        font: {
                                family: $font_regular;
                                size: 1rem;
                                weight: 700;
                        }

                        ;
                        line-height: 1.435;
                        margin-left: 3px;
                }

        }
}

.wrapper {
        display: inline-flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        &::before {
                content: "|";
                display: inline-flex;
                margin: 0 1.2rem;
                color: $color_label;
        }
}

.devider {
        display: flex;
        align-items: center;

        &::after {
                content: "";
                display: inline-flex;
                flex: 1;
                background-color: $btn_color;
                padding: 1px;
                margin: 3rem 0px 3rem 3rem;

                @media only screen and (max-width: 599.99px) {
                        margin: 2rem 0 2rem 3rem;
                }
        }
}

.social-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
        text-align: center;

        &__item {
                display: inline-flex;
                width: calc((100% / 4) - 12px);
                height: 40px;

                &--link {
                        display: flex;
                        width: 100%;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                        padding: 0.5rem 1.5rem;
                        background-color: $btn_color;
                        border: $btn_border $btn_color;
                        border-radius: $border_radius;
                        color: $btn_text_color;

                        img {
                                display: block;
                                width: 100%;
                                height: 100%;
                        }
                }
        }
}

.form-create {
        gap: 0;
}

.create-avatar {
        flex-wrap: wrap;
        align-items: center;

        button {
                img {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                }
        }
}

.form-gamedev {
        gap: 3.2rem;

        form {
                gap: 2.4rem;
        }
}

.footer {
        width: 100%;
        text-align: center;
        justify-content: center;

        margin: {
                top: auto;
                bottom: 0;
        }

        ;
}